body {
  display: block;
  background-color: #f1e5e5;
  text-align: left;

  font-family: roboto, sans-serif
  }
div.container {
  display: block;
  width: 1200px;
  height:100px;
  margin-bottom: 10px;
}



  padding: 10px;
  border: 2px solid black;
}

.color-container {
  display: block;
  width: 1200px;

}
.color-swatch {
  display: inline-block;
  width: auto;
  font-family: roboto, sans-serif;
  margin: auto;
  min-height: 100px;
  text-align: center;
  border: 2px solid black;
}

.red {
  background-color: red;
  color: black;
  font-weight: bold;
} 
.yellow {
  background-color: yellow;
  color: black;
  font-weight: bold;
}

.blue {
  background-color: blue;
  color: black;
  font-weight: bold;
}
  
  
