body {
  background-color: white;
  text-align: left;
  margin: 0px, 10%;
  font-family: roboto, sans-serif
  }
div{
  display: block;
}
.container {
  background-color: white;
  text-align: left;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
}

.color-container {
  display: block;
  width: 100%;
}
.color-swatch {
  display: inline-block;
  width: auto;
  font-family: roboto, sans-serif;
  margin: auto;
  min-height: 100px;
  text-align: center;
  border: 2px solid black;
  
  
  
  
